@tailwind base;
@tailwind components;
@tailwind utilities;

div::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: 1px solid theme('colors.slate.900');
}

div::-webkit-scrollbar-track,
pre::-webkit-scrollbar-track {
  background: theme('colors.slate.300');
}

div::-webkit-scrollbar-track:vertical,
pre::-webkit-scrollbar-track:vertical {
  border-top-right-radius: theme('borderRadius.md');
}

div::-webkit-scrollbar-track:horizontal,
pre::-webkit-scrollbar-track:horizontal {
  border-bottom-left-radius: theme('borderRadius.md');
}

div::-webkit-scrollbar-corner,
pre::-webkit-scrollbar-corner {
  background: theme('colors.slate.300');
  border-bottom-right-radius: theme('borderRadius.md');
}

div::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.500');
  border-radius: 20px;
  outline: none;
  margin: 1px;
  
}

body {
  background-color: theme('colors.slate.50');
}
